* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  font-family: "NotoSans Regular";
}

body {
  background: $off-white;
}

main {
  padding: 20px 0;
}

h1 {
  font-family: "NotoSans Bold";
}

button{
  background: none;
  border: none;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.logo-by-josepho {
  width: 100px;
  transform: translateX(15px);

  &--small{
    width: 60px;
    transform: translateX(0);
  }
}

.bold{
  font-family: "NotoSans Bold";
}

